<psco_head>

</psco_head>
<psco_body>

    <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <img src=""/>
        <br>

        <p>
            First name: <label>test name</label>
        </p>

        <p>
            Last name: <label>test name</label>
        </p>

        <p>
            Mobile: <label>09365820723</label>
        </p>

        <p>
            Register at: <label>2018-03-29 23:33:46</label>
        </p>


        <div class="panel-heading">documents</div>
        <h3>
            National card
        </h3>
        <img src=""/>
        <a class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span>Download file </a>
        <hr style="width: 50vw;border-width: 5px;">
        <h3>
            National card
        </h3>
        <img src=""/>
        <a class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span>Download file </a>
        <hr style="width: 50vw;border-width: 5px;">
        <h3>
            National card
        </h3>
        <img src=""/>
        <a class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span>Download file </a>

    </div>

</psco_body>